* {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
  font-size: 17pt;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
.langBar{
	width: fit-content;
	position: fixed;
	top: 0px;
	padding: 10px;
	border-radius: 2px;
	left: 0px;
	z-index: 10;
	background-color: inherit;
}

canvas {
  margin: 0;
  padding: 0;
  left: 0;
  position: absolute;
}

h1 {
  font-size: max(5vw,25pt);
  font-weight: 700;
  margin: auto;
  text-align: center;
}

b, h2 {
  font-size: max(4vw,20pt);
  font-weight: 700;
}
b, h3 {
  font-size: max(3vw,17pt);
  font-weight: 700;
}
button, a {
  border: none;
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  max-width: 80%;
}
button, a:hover {
  border: none;
  color: #fff;
  text-decoration: none;
  max-width: 80%;
}
img, video {
  border-radius: 2vw;
  max-height: 300px;
  max-width: 30%;
}
.section{
  text-align: left;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.rowsection{
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.section > :not(h1) {
  position: relative;
  left: 10%;
  max-width: 80%;
}

.rowsection > :not(h1) {
  position: relative;
  margin: 10%;
}


