
*{
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  align-self: center;
  background-color: black;
  color: white;
}
html{
  scroll-snap-type: y mandatory;
  scroll-snap-stop: normal;
}

b{
  font-weight: bold;
  font-size:inherit;
  
}

.section{
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  scroll-snap-align: start;
}

.section > :is(h1,h2,h3,h4,h5,h6) {
  text-align: center;
}
h1{
	font-size: 100pt;
}
h2{
	font-size: 50pt;
}

.section > :not(:is(h1,h2,h3,h4,h5,h6)) {
  font-size: 25pt;
  margin: auto;
  width: 40%;
}


img {
  border-radius: 10vw;
  margin: auto;
}

button, a{
  border: none;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  max-width: 80%;
}
button, a:hover{
  border: none;
  color: white;
  text-decoration: none;
  max-width: 80%;
}
