* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size:30px;
    color: #333;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}


.full-height-section {
     flex-direction: column;
    justify-content: space-around;
     height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    padding: auto;
    /*overflow: hidden;*/
}

.sticky {
	width: 100%;
	z-index: 100 !important;
	position: fixed !important;
	display: block;
	padding: 20px;
	border: none;
	border-radius: 0px;
	font-size: 30px;
	color: black;
	background-color: white;
}

.button {
	display: block;
	padding: 20px;
	border: none;
	border-radius: 30px;
	font-size: 30px;
	margin-right:auto;
	margin-left: auto;
}

.button: focus{
	display: block;
	padding: 20px;
	border: none;
    outline: none;
	border-radius: 30px;
	margin:20px;
}

.black-section {
    background-color: #000;
    color: #fff;
}

.white-section {
    background-color: #fff;
    color: #000;
}

.logo {
    font-size: 100px;
    margin-bottom: 20px;
}

#scroll-down-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#scroll-down-arrow svg {
    fill: #fff;
    transition: transform 0.3s ease-in-out;
}

#scroll-down-arrow:hover svg {
    transform: translateY(5px);
}

#description-section, #contact-section{
    text-align: left;
	align-items: left;
}

.notification-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
}

.notification-item {
    padding: 25px;
   /* animation: scroll 10s linear infinite;*/
}
/*
@keyframes scroll {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-300px); }
}
*/


.work-grid {
    flex-direction: grid;
}

.work-item br{
	clear: right;
	
}

.work-item > *:not(img) {
	float: left;
}

.work-item img {
	width: 150px;
	height: 150px;
    margin:20px;
    float: right;
    display:block;
}

.contact-section h2 {
    margin-bottom: 30px;
}

/* Restore spacing between h2 and p tags */
h2 + p,
h2 + div {
    margin-top: 20px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .logo {
        font-size: 36px;
    }
    
    .notification-container {
        height: 300px;
    }
    
    .work-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .work-item img {
        height: 120px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.full-height-section > *:not(#scroll-down-arrow) {
    opacity: 0;
}
a {
	text-decoration: underline
}
 /* unvisited link */
.white-section  a:link {
  color: black;
}

/* visited link */
.white-section a:visited {
	color: black;
	font-weight: bold;
	text-decoration:none;
}

/* mouse over link */
.white-section a:hover {
  color:black;
  text-decoration: underline;
}

/* selected link */
.white-section a:active {
  color: black;
  text-decoration: underline;
} 

.black-section a:link {
  color: white;
  text-decoration:none;
}

/* visited link */
.black-section a:visited {
	color: white;
	font-weight: bold;
	text-decoration:none;
}

/* mouse over link */
.black-section a:hover {
  color:white;
  text-decoration: underline;
}

/* selected link */
.black-section a:active {
  color: white;
  text-decoration: underline;
} 

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply animation to text elements */
.full-height-section.visible > *:not(#scroll-down-arrow) {
    animation: fadeInText 1s ease-in-out forwards;
}

/* Apply animation to sections */
/*
.full-height-section.visible {
    animation: fadeIn 0.5s ease-in-out forwards;
}*/
