body>*{
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
  font-size: 17pt;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(120, 120, 120);
  border-radius:1vw;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  
}

.langBar{
	width: fit-content;
	position: fixed;
	top: 0px;
	padding: 10px;
	border-radius: 2px;
	left: 0px;
	z-index: 10;
	background-color: inherit;
}

canvas {
  margin: 0;
  padding: 0;
  left: 0;
  position: absolute;
}

h1 {
  font-size: max(5vw,25pt);
  font-weight: 700;
  margin: auto;
  text-align: center;
}

b, h2 {
  font-size: max(4vw,20pt);
  font-weight: 700;
}
b, h3 {
  font-size: max(3vw,17pt);
  font-weight: 700;
}
button, a {
  border: none;
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  max-width: 80%;
}
button, a:hover {
  border: none;
  color: #fff;
  text-decoration: none;
  max-width: 80%;
}
img, video {
  border-radius: 2vw;
  max-height: 300px;
  max-width: 30%;
}
.section{
  text-align: left;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
}

.rowsection{
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
}

.section > :not(h1) {
  position: relative;
  left: 10%;
  max-width: 80%;
}

.rowsection > :not(h1) {
  position: relative;
  margin: 10%;
}
@media (max-width: 800px) {
  .rowsection {
    text-align: left;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    min-height: 100vh;
    width: 100%;
  }
  .rowsection > :not(h1) {
    position: relative;
    max-width: 80%;
  }
}
#homepageTitleDiv {
  width: 100vw;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#homepageTitleDiv > div {
  text-align: center;
}

pre>code {
	max-height: 70vh;
	font-size: 10pt;
	background-color: black;
}

pre{
	border-radius: 1vw;
}
